@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  background-color: #f5f5f5;
}

.hidden-header {
  transform: translateY(-100%);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #3582a3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #3582a3; 
  transform: scale(1.1); 
}

nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #3582a3;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin-left: 0;
    padding-top: 10px;
  }
}
