.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    height: 20vh;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--box-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .search-input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
    text-align: center;
  }

  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: var(--box-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70px;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .toggle-btn:hover {
    transform: scale(1.1);
  }
  
  .books-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: auto;
  }
  
  .book-card {
    background: var(--box-bg);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .cover {
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }