html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
 
}

.no-background {
  background: none !important;
}

:root {
  --bg-color: #f5f5f5;
  --text-color: #222;
  --box-bg: #fff;
  --border-color: #ccc;
  --input-bg: #fff;
}

.dark-mode {
  background-image: none !important;
  background-color: #121212 !important;
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --box-bg: #333;
  --border-color: #666;
  --input-bg: #444;
}

.dark-mode.no-background {
  background: var(--bg-color) !important;
}
