body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 15%;
    background: transparent;
  }

  .home-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  
  .card {
    border-radius: 12px;
    width: 340px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  h1 {
    font-size: 50px;
    color: black; 
  }
  
  p {
    font-size: 18px;
    color: black;
  }
  
  .btn {
    background: #257da2; 
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background: #C8421C;
  }
  